
<nav class="navbar navbar-dark bg-primary">
<div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/login">login</a>
</div>
</nav>
<div class="col-sm-3 offset-sm-3">
    <div class="authBlock">
        <h3>Reset Password</h3>
        <p class="text-center">Please enter your email address to request a password reset.</p>
        <form [formGroup]="loginForm" (ngSubmit)="ForgotSubmit()">
            <div class="form-group">
                <label for="username">Email</label>
                <input type="text" formControlName="username" class="form-control"/>
            </div>
            <div class="formGroup">
                <button class="btn btn-primary">
                    send request
                </button>
            </div>
    </form>
    </div>
        <div class="redirectToLogin">
        <span>Go back to ? <button class="redirect" routerLink="/login">Log In</button></span>
        </div>

</div>